name: CI – Build e Testes

on:
  pull_request:
    branches: [develop, main]
  push:
    branches: [develop]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          # Define o caminho do pom.xml para o cache funcionar no monorepo
          cache-dependency-path: backend/reservas-system/pom.xml

      - name: Dar permissão de execução ao Maven Wrapper
        run: chmod +x backend/reservas-system/mvnw

      - name: Build e Testes com Maven
        working-directory: backend/reservas-system
        run: ./mvnw clean verify

      - name: Build Imagem Docker (Teste de Sanidade)
        working-directory: backend
        run: docker build -t reservas-api:ci-test .
