name: CI – Build e Testes
on:
  pull_request:
    branches: [develop, main]
  push:
    branches: [develop, main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Listar arquivos (Debug)
        run: ls -R  # Isso vai nos mostrar onde o pom.xml realmente está

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          # Removemos o cache temporariamente para evitar o erro de 'No file matched'
